<div class="">
    <div>
        <h5 class="font-medium text-3xl">Hello User</h5>
        <p class=" text-gray-500">Let's crush today!</p>
    </div>
    <div class=" mt-6">
        <h5 class="font-medium text-xl">Today's workout</h5>
        <div class="mt-4">
            <div *ngFor="let exercise of exercises"
                class="bg-pink-300 p-4 rounded-md
                my-4 shadow-md flex align-middle justify-between">
                <div>
                    <h5>
                        {{ exercise.name }}
                    </h5>
                    <p>
                        {{ exercise.description }}
                    </p>
                </div>
                <div>
                    >
                </div>
            </div>
        </div>
    </div>
</div>